/* -----------
    fonts
------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* ----------------
common utilities
--------------- */

body{
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    margin-left: auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-button{
    font-size: 16px;
    
    
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    position: relative;
    width: 380px;
    height: 250px;
    padding: 15px 25px;
    margin-top: 27px;
    margin-left: 156px;
    margin-bottom: 169px;
    animation: button 5s linear .1s 3 normal forwards;
    

}


@keyframes button{
    0% {left: 0px; background-color:#E02C6D ;}
    50% {left: 200px; background-color: #2fa05e;}
    100% {left: 0px; background-color: #E02C6D;}

}



/* -----------------
    header
---------------- */
header{
    background-color: #2D25A0;
}

.banner-section{
    display: flex;
    
}

.banner-title{
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    color: #FFFFFF;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 27px;
    position: relative;
}

.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 141px;
    margin-bottom: 86px;
    transition: .5s ease-in;
}
.banner img:hover{
    transform: rotate(20deg);
}

/* --------------
section
-------------- */

.players-section{
    display: grid;
    grid-template-columns: repeat(1, fr);
    grid-row-gap: 27px;
    justify-content: center;
    margin-top: 70px;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    
}

.player{
    width: 330px;
    height: 474px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgb(230,230,230);
    margin: 10px auto;
    
    
}


.player-image{
    width: 300px;
    display: inline-block;
    margin: 15px 15px 0 15px;
}

.player-info {
    margin-top: 0;
    margin-bottom: 33px;
} 
.player-info h3{
    margin-left: 15px;
}

.player-info p{
    width: 300px;
    margin: auto;
    color: #6C6C6C;
}
 
/* --------------
sponsor
-------------- */
.sponsor-section{
    height: 474px;
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-bottom: 0px;
    
}
.sponsor-section h2{
    text-align: center;
}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sponsor{
    margin-top: 60px;
    margin-left: 90px;
}
/* --------------
footer
-------------- */
footer {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    margin-top: 70px;
}

footer img{
    width:485px;
    height:110px;
}

.icon{
    display:inline;
    width:16px;
    height:13px;
    color:#969BAB;
    margin-right: 8px;
}
  
  

/* -------------------------
        Media Query
------------------------- */

/* --------------------
        Mobile Devices
       -------------------- */
@media only screen and (max-width:688px) {
    body{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        width: auto;
        height: auto;
    }
    .banner-section{
        display: grid;
        grid-template-columns: repeat(.8, 1fr);

        transform: scale(.5,.5);
        width: 80%;
        margin-left: 0;
        margin-top: 10px;
    }
    .banner-title{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0%;
    }
    .players-section, .sponsors, footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }    
    .row{
        
        display:flex;
        flex-wrap: wrap;
        width: 70%;
        transform: scale(.9,.9);
        margin-bottom: 16px;
    }
    /* {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } */
} 


