/* -----------
    fonts
------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* ----------------
common utilities
--------------- */

body{
    font-family: 'Poppins', sans-serif;
}

.link-button{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    width: 173px;
    height: 44px;
    Padding: 10px, 24px, 10px, 24px;
    margin-top: 27px;
    margin-left: 156px;
    margin-bottom: 169px;

}

/* -----------------
    header
---------------- */
header{
    background-color: #2D25A0;
}

.web-title-section{
    display: flex;
}

.web-title{
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    color: #FFFFFF;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 0;
}

.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 141px;
    margin-bottom: 86px;
}

/* --------------
section
-------------- */

.players{
    display: grid;
    grid-template-columns: repeat(1, fr);
    grid-row-gap: 27px;
    justify-content: center;
    margin-top: 70px;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    
}

.player{
    width: 330px;
    height: 474px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2) ;
    justify-content: center;
    padding: 15px 15px 33px 15px;
}

.player-detail{
    width: 300px;
    padding: 0;
    
}


.player-image{
    width: 300px;
    height: 256px;
}

.player-info p{
    width: 100%;
    color: #6C6C6C;
}