/* -----------
    fonts
------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* ----------------
common utilities
--------------- */

body{
    font-family: 'Poppins', sans-serif;
}

.link-button{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    width: 173px;
    height: 44px;
    Padding: 10px, 24px, 10px, 24px;
    margin-top: 27px;
    margin-left: 156px;
    margin-bottom: 169px;

}

/* -----------------
    header
---------------- */
header{
    background-color: #2D25A0;
}

.web-title-section{
    display: flex;
}

.web-title{
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    color: #FFFFFF;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 0;
}

.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 141px;
    margin-bottom: 86px;
}